<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuck_head__1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>chuck_head__2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>chuck_head__3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>gamera_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,49},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>all_head_spritesheet.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83b4d3919fbe030fa8c576b8e9f4ca84$</string>
            <key>textureFileName</key>
            <string>all_head_spritesheet.png</string>
        </dict>
    </dict>
</plist>
